{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block page_title %}
Password reset
{% endblock page_title %}

{% block content %}

<div class="connect-bg5" style="min-height:88vh";>
    <div class="container m-auto p-5">
      <div class="bg-light col-md-6 col-sm-12 m-auto mt-4 border rounded p-4" style="opacity:0.9">
        <h1>Reset you password</h1>
        <form enctype="multipart/form-data" method="POST" action="{% url 'authentication:password_reset' %}">
            {% csrf_token %}
            {{ re_password_form | crispy}}
            <input type="submit" class="btn btn-outline-success mt-4" name="" value="Confirm">
        </form>
      </div>
    </div>
  </div>

{% endblock content %}