affine
altgraph
annotated-types
asgiref
attrs
auto-py-to-exe
bottle
bottle-websocket
certifi
cffi
charset-normalizer
click
click-plugins
cligj
colorama
contextlib2
contourpy
crispy-bootstrap5
cycler
Django
django-crispy-forms
Eel
exceptiongroup
execnet
fiona
fonttools
future
geopandas
gevent
gevent-websocket
greenlet
idna
importlib-metadata
importlib-resources
iniconfig
kiwisolver
matplotlib
matplotlib-scalebar
mock
numpy
packaging
pandas
path
path.py
pefile
Pillow
pluggy
psycopg2-binary
pycparser
pydantic
pydantic-core
pygeos
pyinstaller
pyinstaller-hooks-contrib
pyparsing
pyproj
pyshp
pytest
pytest-shutil
python-dateutil
python-dotenv
pytz
pywin32-ctypes
rasterio
requests
Rtree
shapely
six
snuggs
sqlparse
termcolor
tomli
typing-extensions
tzdata
urllib3
whichcraft
zipp
zope.event
zope.interface
