<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{title}}</title>
    </head>
    <body>
        <small>Dear, {{username}}</small>
        <p>
            An account has been created for you on <b>DuduTracker</b> <br/>
            With Username: <b>{{username}}</b>
        </p>
        <p>
            Use the following link to reset your password :
            <strong>
                {{url}}
                {% comment %} <a href="{{url}}" target="_blank">CLICK HERE</a> {% endcomment %}
            </strong>
        </p>
        <em>Thank you</em><br />
        <em>Team <b><a href="#">DuduTracker</a></b></em>
    </body>
</html>