{% extends 'base.html' %}
{% load static %}

{% block page_title %}Home{% endblock page_title %}

{% block content %}
<div class="container m-auto bg-light shadow py-4">
    <div class="row">
        <div class="colborder p-2" style="height:85vh;overflow-y:scroll">
            <h2>
                DuduTracker
            </h2>
            <div class="row d-flex flex-row justify-content-between align-items-center p-3">
                <div class="col-9">
                    <p style="text-align:justify;">
                        A Software to Simulate and Understand Insect Movements over time and space. Dudutracker, is
                        designed to simulate and comprehend insect movements over time and space, uses the principles 
                        of cellular automata. In the insect-related context, the cells can be in three potential 
                        states: unoccupied, colonized, or exposed. The software uses a 2D grid, with each cell having 
                        eight neighboring cells. The transition of a cell's state, which represents insect dispersal, 
                        depends on its current state and the states of its neighbors. A mathematical function determines 
                        the likelihood of insects colonizing a particular cell based on factors like food availability, 
                        suitable habitat, or favorable environmental conditions.
                    </p>
                    <div class="alert alert-warning" role="alert">
                        If the screen display looks off, press <b> CTRL -</b> to make it smaller or <b>CTRL +</b> to make it larger.
                    </div>
                </div>
                <div class="col-3 d-flex flex-row justify-content-end align-items-center p-3">
                    <a target="_blank" class="btn btn-primary" href="https://drive.google.com/file/d/1kiu8EZ_FNICDcNGsekw7qqpToiK2vZzb/view?usp=sharing">
                        Download demo data
                    </a>
                </div>
            </div>
            <img src="{% static 'img/dudutrack-mh.png'%}" class="img-fluid"/>
            <div class="row mt-3 py-2 rounded border">
                <div class="col">
                    <ol class="row">
                        <div class="col-md-6 col-xs-12 p-3">
                            <li>
                                <b>Configuration button and panel</b>: here is were you load your shapefiles (.shp, .shx, .dbf)
                                to the system. You also define the number of constraints to be consider and uploads required
                                files for each constraints. In addition, you also load the file containing the initial location
                                of your insects, and finally you save those configuration to the system.
                            </li>
                            <li>
                                <b>Constraints configuration button</b>: onclick, this opens a panel where you can provide 
                                upper and lower limit values of each constraint loaded in the previous step.
                            </li>
                            <li>
                                <b>Simulation period configuration button</b>: onclick, this opens a panel (7) where you can provide 
                                time setting for the simulation; namely the starting month, the starting year, the timestep, and the
                                duration of the simulation.
                            </li>
                            <li>
                                <b>Run button</b>: onclick, this runs the model after checking all required inputs have been provided.
                            </li>
                        </div>

                        <div class="col-md-6 col-xs-12 p-3">
                            <li>
                                <b>Actions panel</b>: this panel allows you respectively to, visualize the simulation, pause the visualization
                                or download model outputs. If any of this action is activated without running the model, the user gets the
                                results of his latest run.
                            </li>
                            <li>
                                <b>Calibration button</b>: onclick this button toggles the calibration panel (8), where you can define any further
                                configuration for you simmulation.
                            </li>
                            <li>
                                <b>Period configuration panel</b>.
                            </li>
                            <li>
                                <b>Calibration panel</b>.
                            </li>
                            <li>
                                <b>Visualization panel</b>: this is where the model outputs are displayed.
                            </li>
                        </div>
                    </ol>
                </div>
                <hr/>
                <div class="p-2 d-flex flex-row justify-content-center align-items-centre">
                    <a target="_blank" class="btn btn-primary" href="https://drive.google.com/file/d/1kiu8EZ_FNICDcNGsekw7qqpToiK2vZzb/view?usp=sharing">
                        Download demo data
                    </a>
                </div>
            </div>
            <hr class="mt-3"/>
            <div class="py-3">
                <center>
                    <h4>
                        Contacts
                    </h4>
                    <div class="row">
                        <div class="col-md-6 col-xs-12 p-3">
                            <b>Komi Agboka. Ph.D </b><br/>
                            dilaneagboka@gmail.com <br/>
                            kagboka@icipe.org <br/>
                        </div>
                        <div class="col-md-6 col-xs-12 p-3">
                            <b>Henri Tonnang. Ph.D</b> <br/>
                            htonnang@icipe.org <br/>
                        </div>
                    </div>
                </center>
            </div>
        </div>
    </div>
</div>
{% endblock content %}